{{ template "header" . }}

<div class="asummary-cont">
    <div class="container">
        <h1>Analysis <small class="text-muted">for {{ if gt .Analysis.RequestNumber 0 }}#{{ .Analysis.RequestNumber }}{{ else }}{{ .Analysis.CommitTo}}{{ end }}</small></h1>

        <div class="asummary {{ .Analysis.Status }}">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Started</th><td>{{ .Analysis.CreatedAt }}</td>
                    </tr>
                    <tr>
                        <th>Build Status</th>
                        <td>
                            {{ if eq .Analysis.Status "Success" }}
                                <span class="badge badge-success">{{ .Analysis.Status }}</span>
                                <!-- <button type="button" class="btn btn-outline-danger btn-sm">Mark as Failure</button>-->
                            {{ else if eq .Analysis.Status "Failure" }}
                                <span class="badge badge-danger">{{ .Analysis.Status }}</span>
                                <!--<button type="button" class="btn btn-outline-success btn-sm">Mark as Success</button>-->
                            {{ else if eq .Analysis.Status "Error" }}
                                <span class="badge badge-warning">{{ .Analysis.Status }}</span>
                                <!--<button type="button" class="btn btn-outline-success btn-sm">Mark as Success</button>-->
                            {{ else }}
                                <!--<span class="badge badge-default">{{ .Analysis.Status }}</span>-->
                            {{ end }}

                            <small>with <b>{{ .TotalIssues }}</b> issue{{ if ne .TotalIssues 1 }}s{{ end }} found.</small>

                            <!--<button type="button" class="btn btn-secondary btn-sm">Rerun Analysis</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>

            {{ with .Analysis }}
                {{ if ne .Status "Pending" }}
                    <div class="container durations">
                        <div class="row">
                            <div class="col-sm duration-cont">
                                <h4 class="duration-header">Clone Duration</h4>
                                <p class="duration">{{ .CloneDuration }}</p>
                            </div>
                            <div class="col-sm duration-cont">
                                <h4 class="duration-header">Deps Duration</h4>
                                <p class="duration">{{ .DepsDuration }}</p>
                            </div>
                            <div class="col-sm duration-cont">
                                <h4 class="duration-header">Total Duration</h4>
                                <p class="duration">{{ .TotalDuration }}</p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>

        <table class="table tools">
            <tbody>
                {{ range .Analysis.Tools }}
                    <tr class="tool tool-{{if eq (len .Issues) 0 }}success{{ else }}warning{{ end }}">
                        <th class="name"><a href="{{.Tool.URL}}">{{ .Tool.Name }}</a></th>
                        <td class="summary">Found <span class="count">{{ len .Issues }}</span> issue{{ if ne (len .Issues) 1 }}s{{ end }} in <span class="timing">{{ .Duration }}</span>.</td>
                    </tr>
                    {{ range .Issues }}
                        <tr class="tool-issue">
                            <td class="line"><a href="#issue-{{ .ID }}">{{ .Path }}:{{ .Line }}</a></td>
                            <td class="summary">{{ .Issue }}</td>
                        </tr>
                    {{ end }}
                {{ end }}
            </tbody>
        </table>
	</div>
</div>

<!-- Patches may not be set because of an error getting diffs, or there were no issues -->
{{ if .Patches }}
    <div class="container extra-cont">
        <h2>Issues</h2>

        {{ range .Patches }}
        <table class="patch">
            <thead>
                <tr><th></th><th>{{ .Path }}</th></tr>
            </thead>
            <tbody>
                {{ range .Hunks }}
                    <tr><td class="range"></td><td class="range"> {{ .Range }}</td></tr>

                    {{ range .Lines }}
                        <tr class="{{ .ChangeType }}">
                            <td class="lno">{{ .LineNo }}</td>
                            <td>{{ .Line }}</td>
                        </tr>
                        {{ range .Issues }}
                            <tr id="issue-{{ .ID }}" class="e">
                                <td class="lno"></td>
                                <td>{{ .Issue }}</td>
                            </tr>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>
{{ end }}

<!-- Output may not be set if they've been pruned from the database -->
{{ if .Outputs }}
    <div class="container extra-cont">
        <h2>Output</h2>
        <div class="outputs">
            {{ range .Outputs }}
                <p class="output-cont">
                    <span class="arg">$ {{ .Arguments }}</span>
                    <span class="duration">{{ .Duration }}</span>
                    <span class="output">{{ .Output }}</span>
                </p>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ template "footer" . }}
