{{define "footer"}}
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>© Bradley Falzon 2017 - <a href="https://github.com/bradleyfalzon/gopherci">GitHub</a>.</p>
            <p>Thanks to the tool authors, the Go team and library authors I import.</p>
        </div>
    </div>
</footer>
</body>
</html>
{{end}}
