{{define "header" -}}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/site.css">
        <title>{{ if .Title }}{{ .Title }} - {{ end }}GopherCI</title>
    </head>
    <body>
        <header class="top-nav">
            <div class="container">
                <span class="logo">Gopher<span class="ci">CI</span></span>
            </div>
        </header>
{{end}}
